<% if signed_in? && current_user.admin? %>
	<div class="row">
		<div class="col-md-8">		
			<!-- render news feed w/ delete links -->
			<h1>New Posts</h1>	
	      	<%= render 'shared/feed' %>
		</div>
		<div class="col-md-4">
			<!-- render form to add links -->
			<h1>Admin Panel</h1>
			<%= render 'shared/post_form' %>
			
		</div>	
	</div>
<% elsif signed_in? %>
	<div class="row">
		<div class="col-md-8">
			<!-- render news feed w/ user options but no delete links -->
			<h1>New Posts</h1>	
	      	<%= render 'shared/feed' %>
	
		</div>
		<div class="col-md-4">

		</div>
	</div>
<% else %>
	<div class="row">
		<div class="col-md-8">
			<!-- render news feed with no user options or delete links -->
			<h1>DailyDocket</h1>
			<p>This is the home page for <a href="http://dailydocket.org/">DailyDocket.org</a>.
			</p>
			<p>Currently this space is empty, but there will be a news feed even for non-logged in users.</p>
			
		</div>
		<div class="col-md-4">
		</div>
	</div>
<% end %>