<h3>Pending Posts</h3>

<% if @feed_items.any? %>
  <ul class="list-unstyled posts">
	<%= render partial: 'posts/post', collection: @feed_items %>
  </ul>
  <%= will_paginate @feed_items %>
<% end %>
