<% provide(:title, 'All users') %>

<div class="row">
	<div class="col-md-9">

<h1>All users</h1>

<ul class="list-unstyled users">
  <%= render @users %>
</ul>

<%= will_paginate %>


	</div>
	<div class="col-md-3">
	</div>
</div>