<%

# 	This file is deprecated. The posts#top action renders the index view.

%>

<div class="row">
	<div class="col-md-8">

<h3>Top News</h3>
<ul class="list-unstyled posts">
    <%= render @posts %>
</ul>

<%= will_paginate %>


	</div>
	<div class="col-md-4">
	</div>
</div>