/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;



/* media queries */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 768px) {   /* small buttons until collapse */
    .btn .btn-large, .btn-group {
        width: 100%;
    }
}

.nested_comments {
  margin-left: 30px;
}

.nested_comments .nested_comments .nested_comments .nested_comments {
	margin-left: 0;
}


#hidden_reply_field {
	display: none;
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h1 a {
	color: #000;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  line-height: 1em;
}


/* header and navbar */

.navbar-default .navbar-brand {
  padding-left: 25px;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #333;
  letter-spacing: 0px;
  font-weight: bold;
  line-height: 1em;
  padding-top: 10px;
  height: 40px !important;
  &:hover {
    text-decoration: none;
	color: #333;
  }
}

.navbar-nav > li > a {
	padding-top: 10px !important; 
	padding-bottom: 10px !important;
}

.navbar-default .navbar-nav > li > a {
  font-size: 0.9em;
  letter-spacing: 0px;
  font-weight: bold;  
  &:hover {
  }
}


.tabs {
	padding-right: 25px;
}

.tabs li:hover {
	background-color: #EEE;
}

.navbar {
	min-height: 40px !important;
	//background-color: #4679BD // #4072b4;
	//background-color: #333;
}


/* sidebar */

.gravatar {
  float: left;
  margin-right: 10px;
}

@media (min-width: 992px) {

	.sidebar_2 {
		position: fixed;
		top:0;
		left:0;
		display: block;
  		bottom: 0;
    	/* border-right: 1px solid #EEE; */
		margin-top: 40px;
		/* box-shadow: inset 0 -6px 6px rgba(0,0,0,.1); */
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
		width: 235px !important;
	}
	
	.main {
		padding-left: 0px;
		margin-left: 270px;
	}
	
	h4 {
		padding: 5px;
	}
	
	.sidebar_2 li a {
		font-size: 14px;
	}
	

}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
	@extend .has-error;
}

/* users index */

.users {
  list-style: none;
  margin: 0px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #EEE;
    &:last-child {
      border-bottom: 1px solid #EEE;
    }
  }
}


/* news feeds */

.posts {
  list-style: none;
  margin: 0px;

  li {
	padding: 22px 0;
	&:not(:first-child) {
      border-top: 1px solid #e8e8e8;
	}
  }
  
  h1 {
	font-size: 1.3em;
	letter-spacing: 0px;
	margin-bottom: 4px;	
	margin-top: 0px;
  }
}

.headline {
  display: block;
}
.timestamp {
  color: #AAA;
}



/* profile news feed */

.profile {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  h1 {
	font-size: 1.2em;
	letter-spacing: 0px;
	margin-bottom: 4px;	
	margin-top: 0px; 
  }
}



/* comments */

.comments {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
	display: block;
}


/* tags */

.employment-law {
	background-color: #63BBA4;
}

.patent {
	background-color: #D9534F;	
}

.fair-use {
	background-color: #5BC0DE;
}

.trademark {
	background-color: #428BCA;	
}

.first-amendment {
	background-color: #F2AD4E;
}

.copyright {
	background-color: #5CB85C;	
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}