
<footer class="footer">
  <small>
    <a href="http://dailydocket.org/">dailydocket.org</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>	  
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Rules", rules_path %></li>
    </ul>
  </nav>
</footer>

<%= debug(params) if Rails.env.development? %>
